.container1{
    border: solid black;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 1000px;
    padding: 20px;
}
.container2{
    border: solid blue;
    width: 700px;
    height: 260px;
    display: flex;
    align-items: center;
    padding: 10px
    
}
.container3{
    border: solid red;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.content1{
    margin-left: 20px;
    border: solid red;
    background-color: red;
    height: 200px;
    animation: slide2right 3s;
    animation-delay: 0s;
    z-index: -1;
    overflow: hidden;
    animation-fill-mode: forwards;
    padding: 10px;
    border-radius: 100px;
}
.name{
    width: max-content;
    padding: 10px;
    border: solid black;
    margin-left: 180px;
}
@keyframes slide2right{
    0%{
        width: 150px;
    }
    100% {
        width: 600px;
    }
}  