
.contentDD{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-98px);
    @apply bg-white rounded-box w-12 h-12
}
.contentTT{
    @apply tooltip tooltip-right
}
.CC{
    display: flex; 
}
.svgC{
    background-size:contain;
    overflow: hidden;
}
.buttDD{
    background-size:cover;
    width: 50px;
    @apply btn bg-white;
}
.navbarCont{
    display: flex;
}
.navbarContainer{
    display: flex;
    flex-direction: row-reverse;
    position:fixed;
    transform: translateY(350px);
}