@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
/* outline: solid red; */
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  font-style: normal;
  overflow-wrap: break-word;
}

.background {
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  scrollbar-width: 0;
  overflow: hidden;
}

.background h1 {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.Contents{
  overflow: hidden;
}


@media (min-width: 768px) {
  .Contents h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1440px) {
  .Contents h1 {
    font-size: 4.6rem;
  }
}

