:root {
    --text-color: white; /* White */
    --background-color: black; /* Dark gray */
    --outline-color: white;
    --box-shadow-color: #E2ECE9;
    --background-icon-color: #1B263B;
    --carousel-color: #1B263B;
    --background-circle-color: #023E8A;
    --circle-color: #023E8A;
    --button-color: #485972;
    --button-color-hover: #1B263B;
  }
  
.lightMode {
  --text-color: black; /* Light mode text color */
  --background-color: #E2ECE9; /* Light mode background color */
  --outline-color: black;
  --box-shadow-color: #1B263b;
  --background-icon-color: #485972;
  --carousel-color: #566981;
  --button-color: #1B263B;
  --button-color-hover: #485972;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--background-color);
    width: 0.2rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:var(--circle-color);
    border-radius: 10px;
    
  }